/* css */
body {
  font-family: "Heebo";
  background-color: #02AEDF;
}

p {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.divide {
  border-top: thin dashed;
}

.top {
  padding-top: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

.talkingheads {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  padding-top: 7rem;
}

.col-4 {
  padding-left: 2rem;
}


@media (min-width: 576px) {
  p {
    font-size: .7rem;
    line-height: .7rem;
  }
  .talkingheads {
    font-size: 4rem;
  }

  .col-5 {
    padding-left: 5rem;
  }
}


@media (min-width: 768px) {
  p {
    font-size: .9rem;
    line-height: .9rem;
  }
  .talkingheads {
    font-size: 5rem;
  }

  .col-5 {
    padding-left: 7rem;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .talkingheads {
    font-size: 5.5rem;
    padding-top: 8rem;
  }

  .col-5 {
    padding-left: 13rem;
  }

  .col-4 {
    padding-left: 2rem;
  }
}
